@media screen and (max-width:758px) {
    * {
        padding: 0;
        margin: 0;
        font-family:"Raleway", Arial, sans-serif  ;
    }
    nav {
        display: block;
        margin: 0;
    }
    nav > ul {
        display: none !important;
        width: 1px;
        visibility: hidden;
    }
}